

header h1, h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ECA93B;
    margin: 0px auto;
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
    width: 100%;
}

h2{
    color: #f6f0e1;
}

.woodbacking {
    background: url("../assets/wood.png");
}

main {
    display: flex;
    justify-content: flex-end;
    background: url("../assets/westphoto.jpg");
    background-size: cover;
}

.content {
    display: flex;
    align-items: flex-end;
    flex-flow: column wrap;
}


.textContentHeader {
    color:#f6f0e1;
    padding-top: 40px;
    margin-right: 200px;
}

.textContent {
    background-color: #f6f0e1;
    max-width: 550px;
    min-width: 200px;
    margin-right: 50px;
    padding: 15px 8px 40px 8px;
    border-radius: 5% 5% 0 0;
    z-index: 3;
}


